extends layout

block content
  h1= title
  // e=JSON.stringify(employee)
  form(action='',method='post')
    div
      label(for='firtsName') Firts Name:
      input(type='text', name='firtsName', id='firtsName', placeholder='Firts Name here...', value=employee.firtsName)
    div
      label(for='lastName') Last Name:
      input(type='text', name='lastName', id='lastName', placeholder='Last Name here...', value=employee.lastName)
    div
      label(for='email') Email:
      input(type='text', name='email', id='email', placeholder='Email here...', value=employee.email)
    div
      input(type='submit', value='Save')
  style.
    form label { min-width: 80px; display: inline-block; }
    form > div { padding: 5px; }